<div class="nk-body ui-rounder npc-general pg-auth">
<div class="nk-app-root">
  <div class="nk-main ">
    <div class="nk-wrap nk-wrap-nosidebar">
      <div class="nk-content ">
        <div class="nk-split nk-split-page nk-split-lg">
          <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
              <a href="#" class="toggle btn btn-white btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
            </div>
            <div class="nk-block nk-block-middle nk-auth-body">
              <div class="brand-logo pb-5">
                <a href="" class="logo-link">
                  <img class="logo-light logo-img logo-img-lg" src="../../../assets/images/logo.png" srcset="../../../assets/images/logo2x.png 2x" alt="logo">
                  <img class="logo-dark logo-img logo-img-lg" src="../../../assets/images/logo-dark.png" srcset="../../../assets/images/logo-dark2x.png 2x" alt="logo-dark">
                </a>
              </div>
              <div class="nk-block-head">
                <div class="nk-block-head-content">
                  <h5 class="nk-block-title">Reset password</h5>
                  <div class="nk-block-des">
                    <p>If you forgot your password, well, then we’ll email you instructions to reset your password.</p>
                  </div>
                </div>
              </div>
              <form >
                <div class="form-group">
                  <div class="form-label-group">
                    <label class="form-label" for="email">Email</label>
                    <a class="link link-primary link-sm" href="#">Need Help?</a>
                  </div>
                  <div class="form-control-wrap">
                    <input type="email" class="form-control form-control-lg" id="email" placeholder="Enter your email address">
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block">Send Reset Link</button>
                </div>
              </form>
              <div class="form-note-s2 pt-5">
                <a routerLink="/login"><strong>Return to login</strong></a>
              </div>
            </div>

          </div>
          <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-toggle-body="true" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true">
            <div class="w-100 w-max-550px p-3 p-sm-5 m-auto">
              <div class="nk-feature nk-feature-center">
                <div class="nk-feature-img">
                  <img class="round" src="../../../assets/images/slides/promo-a.png" srcset="../../../assets/images/slides/promo-a2x.png 2x" alt="">
                </div>
                <div class="nk-feature-content py-4 p-sm-5">
                  <h4>Dashlite</h4>
                  <p>You can start to create your products easily with its user-friendly design & most completed responsive layout.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
