<div *ngIf="openPopup" class="modal fade show d-block" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Manage role</h5>
        <button type="button" class="close" (click)="cancel()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="max-height: 400px; overflow-y: auto; ">
        <form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name :</label><span class="required-indicator">*</span>
            <input id="name" type="text" class="form-control" formControlName="name"  />
            <div *ngIf="roleForm.controls['name'].invalid && roleForm.controls['name'].touched" class="text-danger">
              Name is required
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="cancel()">Close</button>
            <button type="submit" class="btn btn-primary" >Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
