<div class="nk-body ui-rounder has-sidebar ">
  <div class="nk-app-root">
    <div class="nk-main ">
      <div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu">
        <app-sidebar></app-sidebar>
      </div>
      <div class="nk-wrap ">
        <div class="nk-header is-light nk-header-fixed is-light">
          <app-navbar></app-navbar>
        </div>

      <div class="nk-content nk-content-fluid">
  <div class="container-xl wide-xl">
    <div class="nk-content-body">
      <div class="nk-chat">
        <!-- Sidebar section -->
        <div class="nk-chat-aside">
          <div class="nk-chat-aside-head">
            <div class="nk-chat-aside-user">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle dropdown-indicator" data-bs-toggle="dropdown">
                  <div class="user-avatar">
                    <img src="../../../assets/images/avatar/b-sm.jpg" alt="">
                  </div>
                  <div class="title">Chats</div>
                </a>
                <div class="dropdown-menu">
                  <ul class="link-list-opt no-bdr">
                    <li><a href="#"><span>Contacts</span></a></li>
                    <li><a href="#"><span>Channels</span></a></li>
                    <li class="divider"></li>
                    <li><a href="#"><span>Help</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            <ul class="nk-chat-aside-tools g-2">
              <li>
                <div class="dropdown">
                  <a href="#" class="btn btn-round btn-icon btn-light dropdown-toggle" data-bs-toggle="dropdown">
                    <em class="icon ni ni-setting-alt-fill"></em>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <ul class="link-list-opt no-bdr">
                      <li><a href="#"><span>Settings</span></a></li>
                      <li class="divider"></li>
                      <li><a href="#"><span>Message Requests</span></a></li>
                      <li><a href="#"><span>Archives Chats</span></a></li>
                      <li><a href="#"><span>Unread Chats</span></a></li>
                      <li><a href="#"><span>Group Chats</span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li>
                <a href="#" class="btn btn-round btn-icon btn-light">
                  <em class="icon ni ni-edit-alt-fill"></em>
                </a>
              </li>
            </ul>
          </div>

          <!-- Angular conversation list integration -->
          <div class="nk-chat-aside-body" data-simplebar>
            <div class="nk-chat-aside-search">
              <div class="form-group">
                <div class="form-control-wrap">
                  <div class="form-icon form-icon-left">
                    <em class="icon ni ni-search"></em>
                  </div>
                  <input type="text" class="form-control form-round" id="default-03" placeholder="Search by name">
                </div>
              </div>
            </div>

            <div class="nk-chat-list">
              <h6 class="title overline-title-alt">Messages</h6>
              <ul class="chat-list">
                <!-- Angular ngFor users integration -->
                <li class="chat-item" *ngFor="let user of users$ | async" (click)="selectUser(user)"
                    [ngClass]="{'active': user.id === selectedReceiverId}">
                  <a class="chat-link chat-open">
                    <div class="chat-media user-avatar bg-purple">
                      <span>{{ user.firstName.slice(0,1).toUpperCase() }}{{ user.lastName.slice(0,1).toUpperCase() }}</span>
                      <span class="status dot dot-lg dot-success"></span>
                    </div>
                    <div class="chat-info">
                      <div class="chat-from">
                        <div class="name">{{ user.firstName }} {{ user.lastName }}</div>
                        <span class="time">Now</span>
                      </div>
                      <div class="chat-context">
                        <div class="text">
                          <p>Dernier message...</p>
                        </div>
                        <div class="status delivered">
                          <em class="icon ni ni-check-circle-fill"></em>
                        </div>
                      </div>
                    </div>
                  </a>
                  <div class="chat-actions">
                    <div class="dropdown">
                      <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                      <div class="dropdown-menu dropdown-menu-end">
                        <ul class="link-list-opt no-bdr">
                          <li><a href="#">Mute</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Hide</a></li>
                          <li><a href="#">Delete</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Mark as Unread</a></li>
                          <li><a href="#">Ignore Messages</a></li>
                          <li><a href="#">Block Messages</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Chat body section -->
        <div class="nk-chat-body profile-shown">
          <div class="nk-chat-head" *ngIf="selectedUser">
            <ul class="nk-chat-head-info">
              <li class="nk-chat-body-close">
                <a href="#" class="btn btn-icon btn-trigger nk-chat-hide ms-n1"><em class="icon ni ni-arrow-left"></em></a>
              </li>
              <li class="nk-chat-head-user">
                <div class="user-card">
                  <div class="user-avatar bg-purple">
                    <span>{{ selectedUser.firstName.slice(0,1).toUpperCase() }}{{ selectedUser.lastName.slice(0,1).toUpperCase() }}</span>
                  </div>
                  <div class="user-info">
                    <div class="lead-text">{{ selectedUser.firstName }} {{ selectedUser.lastName }}</div>
                    <div class="sub-text"><span class="d-none d-sm-inline me-1">Active </span> Now</div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="nk-chat-head-tools">
              <li><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-call-fill"></em></a></li>
              <li><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-video-fill"></em></a></li>
              <li class="d-none d-sm-block">
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle btn btn-icon btn-trigger text-primary" data-bs-toggle="dropdown"><em class="icon ni ni-setting-fill"></em></a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <ul class="link-list-opt no-bdr">
                      <li><a class="dropdown-item" href="#"><em class="icon ni ni-archive"></em><span>Make as Archive</span></a></li>
                      <li><a class="dropdown-item" href="#"><em class="icon ni ni-cross-c"></em><span>Remove Conversion</span></a></li>
                      <li><a class="dropdown-item" href="#"><em class="icon ni ni-setting"></em><span>More Options</span></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="me-n1 me-md-n2"><a href="#" class="btn btn-icon btn-trigger text-primary chat-profile-toggle"><em class="icon ni ni-alert-circle-fill"></em></a></li>
            </ul>
          </div>

          <div class="nk-chat-panel" data-simplebar>
            <div *ngFor="let msg of filteredMessages"
                 [ngClass]="msg.sent ? 'chat is-me' : 'chat is-you'">

              <div class="chat-avatar" *ngIf="!msg.sent">
                <div class="user-avatar bg-purple">
                <span>
                  {{ (selectedUser?.firstName?.[0] || '').toUpperCase() }}
                  {{ (selectedUser?.lastName?.[0] || '').toUpperCase() }}
                </span>
                </div>
              </div>

              <div class="chat-content">
                <div class="chat-bubbles">
                  <div class="chat-bubble">
                    <div class="chat-msg">{{ msg.content }}</div>
                    <ul class="chat-msg-more">
                      <li class="d-none d-sm-block">
                        <a href="#" class="btn btn-icon btn-sm btn-trigger">
                          <em class="icon ni ni-reply-fill"></em>
                        </a>
                      </li>
                      <li>
                        <div class="dropdown">
                          <a href="#" class="btn btn-icon btn-sm btn-trigger dropdown-toggle" data-bs-toggle="dropdown">
                            <em class="icon ni ni-more-h"></em>
                          </a>
                          <!-- Correction pour le dropdown-menu -->
                          <div class="dropdown-menu dropdown-menu-sm" [ngClass]="{'dropdown-menu-end': !msg.sent}">
                            <ul class="link-list-opt no-bdr">
                              <li class="d-sm-none">
                                <a href="#"><em class="icon ni ni-reply-fill"></em> Reply</a>
                              </li>
                              <li>
                                <a href="#"><em class="icon ni ni-pen-alt-fill"></em> Edit</a>
                              </li>
                              <li>
                                <a href="#"><em class="icon ni ni-trash-fill"></em> Remove</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <ul class="chat-meta">
                  <li *ngIf="msg.sent">You</li>
                  <li *ngIf="!msg.sent">{{ selectedUser?.firstName }} {{ selectedUser?.lastName }}</li>
                  <li>{{ msg.timestamp | date:'shortTime' }}</li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Chat editor integration -->
          <div class="nk-chat-editor">
            <div class="nk-chat-editor-upload ms-n1">
              <a href="#" class="btn btn-sm btn-icon btn-trigger text-primary toggle-opt" data-target="chat-upload"><em class="icon ni ni-plus-circle-fill"></em></a>
              <div class="chat-upload-option" data-content="chat-upload">
                <ul class="">
                  <li><a href="#"><em class="icon ni ni-img-fill"></em></a></li>
                  <li><a href="#"><em class="icon ni ni-camera-fill"></em></a></li>
                  <li><a href="#"><em class="icon ni ni-mic"></em></a></li>
                  <li><a href="#"><em class="icon ni ni-grid-sq"></em></a></li>
                </ul>
              </div>
            </div>
            <div class="nk-chat-editor-form">
              <div class="form-control-wrap">
                <textarea class="form-control form-control-simple no-resize" rows="1"
                          [(ngModel)]="newMessage" placeholder="Type your message..."></textarea>
              </div>
            </div>
            <ul class="nk-chat-editor-tools g-2">
              <li>
                <a href="#" class="btn btn-sm btn-icon btn-trigger text-primary"><em class="icon ni ni-happyf-fill"></em></a>
              </li>
              <li>
                <button class="btn btn-round btn-primary btn-icon" (click)="sendMessage()">
                  <em class="icon ni ni-send-alt"></em>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>

    </div>
  </div>
</div>
