<link href="./../../../assets/landing/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/font-awsome/css/font-awesome.min.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/slick/slick.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/slick/slick-theme.css" rel="stylesheet">
<link href="./../../../assets/landing/css/style.css" rel="stylesheet">

<link href="./../../../assets/landing/images/favicon.png" rel="shortcut icon">


<div class="nk-body ui-rounder has-sidebar ">
  <div class="nk-app-root">
    <div class="nk-main ">
      <div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu">
        <app-sidebar></app-sidebar>
      </div>
      <div class="nk-wrap ">
        <div class="nk-header is-light nk-header-fixed is-light">
          <app-navbar></app-navbar>
        </div>

        <!-------------content------------------>
        <div class="nk-content nk-content-fluid">
          <div class="container-xl wide-xl">
            <div class="nk-content-body">
            <section class="section testimonial" style="padding: 20px">
              <div class="container">
                <div class="row">
                  <div class="col-6">
                    <div class="d-flex justify-content-start">
                      <h4 style="font-family: Nunito, sans-serif;
                    font-size: 1.5rem;
                    font-weight: 700; margin: 0; color: #364a63 ">FeedBacks</h4>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-control-wrap">
                      <div class="form-icon form-icon-right">
                        <em class="icon ni ni-search"></em>
                      </div>
                      <input type="text"
                             class="form-control"
                             id="default-04" placeholder="Quick search by name"
                             (input)="searchFeedbacks($event)"
                      >
                    </div>
                  </div>
                </div>
                <div *ngIf="success" class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ success }}
                  <button type="button" class="btn-close" (click)="success = null"></button>
                </div>

                <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
                  {{ error }}
                  <button type="button" class="btn-close" (click)="error = null"></button>
                </div>

                <div class="row mt-20">
                  <div class="col-lg-6 col-md-6" *ngFor="let feedback of filteredFeedbacks | paginate: { itemsPerPage: 2, currentPage: p }">
                    <div class="testimonial-item">
                      <div class="comment">
                        <p [innerHTML]="feedback.content"></p>
                      </div>
                      <div class="person">
                        <div class="media">
                          <div class="user-avatar">
                            <em class="icon ni ni-user-alt"></em>
                          </div>
                          <div class="media-body">
                            <div class="d-flex justify-content-between">
                              <div class="name"><p>By : {{feedback.investor?.organization}}</p></div>
                              <a *ngIf="feedback.isPrivate" (click)="feedback.id ? markAsPublic(feedback.id) : null" style="cursor: pointer">
                                <em class="icon ni ni-share-fill" title="Partager"></em>
                              </a>
                              <em *ngIf="!feedback.isPrivate" class="icon ni ni-check-circle text-success" title="Déjà partagé"></em>
                            </div>
                            <div class="profession"><p><em class="icon ni ni-share"></em> {{feedback.project?.title}}</p></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <pagination-controls
                  class="myPagination"
                  previousLabel=""
                  nextLabel=""
                  (pageChange)="p = $event"
                >
                </pagination-controls>
              </div>
            </section>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

