<div class="nk-body ui-rounder has-sidebar ">
  <div class="nk-app-root">
    <div class="nk-main ">
      <div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu">
        <app-sidebar></app-sidebar>
      </div>
      <div class="nk-wrap ">
        <div class="nk-header is-light nk-header-fixed is-light">
          <app-navbar></app-navbar>
        </div>

        <!-------------content------------------>
        <div class="nk-content nk-content-fluid">
          <div class="container-xl wide-xl">
            <div class="nk-content-body">
              <div class="nk-block-head nk-block-head-sm">
                <div class="nk-block-between">
                  <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title" style="font-family: Nunito, sans-serif;
                    font-size: 1.5rem;
                    font-weight: 700; margin: 0; color: #364a63">Users Lists</h3>
                    <div class="nk-block-des text-soft">
                    </div>
                  </div>
                  <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                      <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                      <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                          <li>
                            <div class="form-control-wrap">
                              <div class="form-icon form-icon-right">
                                <em class="icon ni ni-search"></em>
                              </div>
                              <input type="text" class="form-control" id="default-04" placeholder="Quick search by name" (input)="onSearchChange($event)">
                            </div>
                          </li>
                          <li><a (click)="exportToExcel()" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="nk-block">
                <div class="card card-stretch">
                  <div class="card-inner-group">
                    <div class="card-inner p-0">
                      <div class="nk-tb-list nk-tb-ulist is-compact">
                        <div class="nk-tb-item nk-tb-head">
                          <div class="nk-tb-col"><span class="sub-text">User</span></div>
                          <div class="nk-tb-col tb-col-md"><span class="sub-text">Role</span></div>
                          <div class="nk-tb-col tb-col-sm"><span class="sub-text">Email</span></div>
                          <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                          <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Company</span></div>
                          <div class="nk-tb-col tb-col-xxl"><span class="sub-text">Last Login</span></div>
                          <div class="nk-tb-col"><span class="sub-text">Status</span></div>
                          <div class="nk-tb-col nk-tb-col-tools text-end">
                            <div class="dropdown">
                              <a href="#" class="btn btn-xs btn-outline-light btn-icon dropdown-toggle" data-bs-toggle="dropdown" data-offset="0,5"><em class="icon ni ni-plus"></em></a>

                            </div>
                          </div>
                        </div>
                        <div *ngFor="let user of (users$ | async) ?? [] | paginate: { itemsPerPage: 6, currentPage: p }"  class="nk-tb-item">
                          <div class="nk-tb-col">
                            <div class="user-card">
                              <div class="user-avatar xs" [ngClass]="user?.isActive ? 'bg-success' : 'bg-danger'">
                                <span>{{ (user?.firstName?.[0] || '').toUpperCase() }}{{ (user?.lastName?.[0] || '').toUpperCase() }}</span>
                              </div>
                              <div class="user-name">
                                <span class="tb-lead">{{user.firstName}} {{user.lastName}}</span>
                              </div>
                            </div>
                          </div>
                          <div class="nk-tb-col tb-col-md">
                            <span *ngIf="user?.roles?.length">{{ user.roles[0].name }}</span>
                          </div>
                          <div class="nk-tb-col tb-col-sm">
                            <span>{{ user.email }}</span>
                          </div>
                          <div class="nk-tb-col tb-col-md">
                            <span>{{user.phoneNumber}}</span>
                          </div>

                          <div class="nk-tb-col">
                              <span [ngClass]="user.isActive ? 'tb-status  text-success' : 'tb-status text-danger'">
                                {{ user.isActive ? 'Active' : 'Suspend' }}
                              </span>
                          </div>

                          <div class="nk-tb-col nk-tb-col-tools">
                            <ul class="nk-tb-actions gx-2">
                              <li class="nk-tb-action-hidden">

                                <a style="cursor: pointer"  *ngIf="user.isActive"  (click)="user.id ? blockUser(user.id) : null" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="Suspend">
                                  <em class="icon ni ni-user-cross-fill"></em>
                                </a>
                                <a style="cursor: pointer"  *ngIf="!user.isActive"  (click)="user.id ? unBlockUser(user.id) : null" class="btn btn-sm btn-icon btn-trigger" data-bs-toggle="tooltip" data-bs-placement="top" title="Suspend">
                                  <em class="icon ni ni-user-check"></em>
                                </a>
                              </li>
                              <li>
                                <div class="drodown">
                                  <a href="#" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                  <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                      <li><a style="cursor:pointer"  (click)="user.id ? blockUser(user.id) : null"><em class="icon ni ni-na"></em><span>Suspend User</span></a></li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                    <pagination-controls
                      class="myPagination"
                      previousLabel=""
                      nextLabel=""
                      (pageChange)="p = $event"
                    >
                    </pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
