<div class="nk-body ui-rounder npc-general pg-error">
  <div class="nk-app-root">
    <div class="nk-main">
      <div class="nk-wrap nk-wrap-nosidebar">
        <div class="nk-content">
          <div class="nk-block nk-block-middle wide-xs mx-auto">
            <div class="nk-block-content nk-error-ld text-center">
              <h2 class="nk-error-h error-code">403</h2>
              <h3 class="nk-error-title">Access Denied</h3>
              <p class="nk-error-text">Sorry, you don't have permission to access this page</p>
              <a routerLink="/login" class="btn btn-lg btn-primary mt-2">Back To Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
