<div class="nk-body ui-rounder has-sidebar ">
<div class="nk-app-root">
  <div class="nk-main ">
    <div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu">
     <app-sidebar></app-sidebar>
    </div>
    <div class="nk-wrap ">
      <div class="nk-header is-light nk-header-fixed is-light">
        <app-navbar></app-navbar>
      </div>
      <!-------------content------------------>
    <div class="nk-content nk-content-fluid">
      <div class="container-xl wide-xl">
        <div class="nk-content-body">
          <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
              <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title" style="font-family: Nunito, sans-serif;
                font-size: 1.5rem;
                font-weight: 700; margin: 0; color: #364a63 ">Sectors</h3>
              </div>
              <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                  <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                  <div class="toggle-expand-content" data-content="pageMenu">
                    <ul class="nk-block-tools g-3">
                      <li>
                        <div class="form-control-wrap">
                          <div class="form-icon form-icon-right">
                            <em class="icon ni ni-search"></em>
                          </div>
                          <input (input)="onSearchChange($event)" type="text" class="form-control" id="default-04" placeholder="Quick search by name">
                        </div>
                      </li>
                      <li class="nk-block-tools-opt">
                        <a (click)="showModal = true" class="toggle btn btn-icon btn-primary d-md-none"><em class="icon ni ni-plus"></em></a>
                        <a (click)="showModal = true" style="color: #fff" class="toggle btn btn-primary d-none d-md-inline-flex"><em class="icon ni ni-plus"></em><span>Add Sector</span></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-block">
            <div class="card">
              <div class="card-inner-group">
                <div class="card-inner p-0">
                  <div class="nk-tb-list">
                    <div class="nk-tb-item nk-tb-head">
                      <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                          <input type="checkbox" class="custom-control-input" id="pid">
                          <label class="custom-control-label" for="pid"></label>
                        </div>
                      </div>
                      <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
                      <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1 my-n1">
                          <li class="me-n1">
                            <div class="tb-col-sm"><span>Actions</span></div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div *ngFor="let sector of displayedSectors" class="nk-tb-item">
                      <div class="nk-tb-col nk-tb-col-check">
                        <div class="custom-control custom-control-sm custom-checkbox notext">
                          <input type="checkbox" class="custom-control-input" id="pid1">
                          <label class="custom-control-label" for="pid1"></label>
                        </div>
                      </div>
                      <div class="nk-tb-col tb-col-sm">
                         <span class="tb-product">
                           <span class="title">{{ sector.name }}</span>
                         </span>
                      </div>

                      <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1 my-n1">
                          <li class="me-n1">
                            <div class="dropdown">
                              <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt no-bdr">
                                  <li><a (click)="sector.id? editSector(sector.id) : null" style="cursor:pointer"><em class="icon ni ni-edit"></em><span>Edit Sector</span></a></li>
                                  <li>
                                    <a (click)="sector.id ? showDeleteConfirmation(sector.id) : null" style="cursor:pointer">
                                      <em class="icon ni ni-trash"></em><span>Remove Sector</span>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="card-inner">
                  <div class="">
                    <div class="g">
                      <ul class="pagination justify-content-center justify-content-md-end">
                        <li class="page-item" [class.disabled]="currentPage === 1">
                          <a class="page-link" (click)="previousPage()" style="cursor: pointer; ">
                            <em class="icon ni ni-chevrons-left"></em>
                          </a>
                        </li>
                        <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item"  [class.active]="currentPage === (i+1)">
                          <a class="page-link" (click)="onPageChange(i+1)" style="cursor: pointer;">{{ i + 1 }}</a>
                        </li>
                        <li class="page-item" [class.disabled]="currentPage === totalPages">
                          <a class="page-link" (click)="nextPage()" style="cursor: pointer;">
                            <em class="icon ni ni-chevrons-right"></em>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>

<app-add-sector
  *ngIf="showModal"
  [initialRequestData]="selectedSector"
  (openPopup)="openPopup()"
  (closePopup)="closePopup()"
></app-add-sector>

<p-dialog
  [draggable]="true"
  [resizable]="false"
  [modal]="true"
  [(visible)]="visible"
  [baseZIndex]="100000"
  [style]="{ width: '20rem'}"
  [closable]="false"
  closeIcon="false"
  contentStyleClass="custom-dialog"
>
  <div class="text-center" >
    <em class="icon ni ni-alert-circle warning-icon"></em>
    <h3 class="font-bold mt-3 fw-bold">Are you sure?</h3>
    <p class="text-secondary">You really want deleting this sector</p>
  </div>

  <div class="d-flex justify-content-center gap-3 mt-4 mb-4">
    <button class="btn btn-primary" style="height: 25px" (click)="confirmDeleteSector()">Yes!</button>
    <button class="btn btn-danger " style="height: 25px" (click)="visible = false">Cancel</button>
  </div>

</p-dialog>


