

<link href="./../../../assets/landing/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/font-awsome/css/font-awesome.min.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/slick/slick.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/slick/slick-theme.css" rel="stylesheet">
<link href="./../../../assets/landing/css/style.css" rel="stylesheet">

<link href="./../../../assets/landing/images/favicon.png" rel="shortcut icon">



<body class="body-wrapper" style="background: none !important;">
<app-nav></app-nav>
<section class="news section mt-2">
  <div class="container">
    <div class="row mt-30">
      <div class="col-lg-4 col-md-10 mx-auto">
        <div class="sidebar">
          <div class="widget search p-0">
            <div class="input-group">
              <input type="text" class="form-control main m-0" id="expire" placeholder="Search..."  (input)="onSearchChange($event)">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>
          <div class="widget category">
            <h5 class="widget-header">Sectors</h5>
            <ul class="category-list m-0 p-0">
              <li *ngFor="let sector of sectors$ | async "><a href="">{{sector.name}} <span class="float-right"><input type="radio" name="sector" value="{{ sector.name }}"></span></a></li>
            </ul>
          </div>
          <div class="widget tags">
            <h5 class="widget-header">Event Types</h5>
            <ul class="list-inline">
              <li class="list-inline-item" *ngFor="let type of eventTypes"><a href="#">{{ type.toLowerCase() }}</a></li>
               </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="block">
          <div class="row">
            <div *ngFor="let event of (events$ | async) ?? [] | paginate: { itemsPerPage: 4, currentPage: p }" class="col-md-6 col-sm-8 col-10 m-auto">
              <div class="blog-post">
                <div class="post-thumb">
                  <a href="news-single.html">
                    <img src="{{event.imagePath}}" alt="post-image" class="img-fluid">
                  </a>
                </div>
                <div class="post-content">
                  <div class="date">
                    <h4>{{ event.date | date:'d' }}<span>{{ event.date | date:'MMMM' }}</span></h4>
                  </div>
                  <div class="post-title">
                    <h2><a href="news-single.html">{{ event.title }}</a></h2>
                  </div>
                  <div class="post-meta">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <i class="fa fa-calendar"></i>
                        <a [routerLink]="'/reservation-page/' + event.id" >Join Now</a>
                      </li>
                      <li class="list-inline-item">
                        <i class="fa fa-tag"></i>
                        <a href="#">{{event.type}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls
          class="myPagination"
          previousLabel=""
          nextLabel=""
          (pageChange)="p = $event"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
</body>

<style>
  body[_ngcontent-ng-c3489705984] {
    background: none !important;
  }
</style>



