<div class="nk-sidebar-element nk-sidebar-head">
  <div class="nk-sidebar-brand">
    <a href="html/index.html" class="logo-link nk-sidebar-logo">
      <img class="logo-light logo-img" src="./../../../assets/images/logo.png" srcset="../../../assets/images/logo2x.png 2x" alt="logo">
      <img class="logo-dark logo-img" src="../../../assets/images/logo-dark.png" srcset="../../../assets/images/logo-dark2x.png 2x" alt="logo-dark">
      <img class="logo-small logo-img logo-img-small" src="../../../assets/images/logo-small.png" srcset="../../../assets/images/logo-small2x.png 2x" alt="logo-small">
    </a>
  </div>
  <div class="nk-menu-trigger me-n2">
    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
  </div>
</div>
<div class="nk-sidebar-element">
  <div class="nk-sidebar-content">
    <div class="nk-sidebar-menu" data-simplebar>
      <ul class="nk-menu">
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Applications</h6>
        </li>
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-tile-thumb"></em></span>
            <span class="nk-menu-text">Projects</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/project-card.html" class="nk-menu-link"><span class="nk-menu-text">Project Cards</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/project-list.html" class="nk-menu-link"><span class="nk-menu-text">Project List</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-users"></em></span>
            <span class="nk-menu-text">User Manage</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/user-list-regular.html" class="nk-menu-link"><span class="nk-menu-text">User List - Regular</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/user-list-compact.html" class="nk-menu-link"><span class="nk-menu-text">User List - Compact</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/user-details-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Details - Regular</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/user-profile-regular.html" class="nk-menu-link"><span class="nk-menu-text">User Profile - Regular</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/user-card.html" class="nk-menu-link"><span class="nk-menu-text">User Contact - Card</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-user-list"></em></span>
            <span class="nk-menu-text">Customers</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/customer-list.html" class="nk-menu-link"><span class="nk-menu-text">Customer List</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/customer-details.html" class="nk-menu-link"><span class="nk-menu-text">Customer Details</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
            <span class="nk-menu-text">AML / KYCs</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/kyc-list-regular.html" class="nk-menu-link"><span class="nk-menu-text">KYC List - Regular</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/kyc-details-regular.html" class="nk-menu-link"><span class="nk-menu-text">KYC Details - Regular</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
            <span class="nk-menu-text">Transactions</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/transaction-basic.html" class="nk-menu-link"><span class="nk-menu-text">Tranx List - Basic</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/transaction-crypto.html" class="nk-menu-link"><span class="nk-menu-text">Tranx List - Crypto</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-grid-alt"></em></span>
            <span class="nk-menu-text">Applications</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/apps-messages.html" class="nk-menu-link"><span class="nk-menu-text">Messages</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/apps-inbox.html" class="nk-menu-link"><span class="nk-menu-text">Inbox / Mail</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/apps-file-manager.html" class="nk-menu-link"><span class="nk-menu-text">File Manager</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/apps-chats.html" class="nk-menu-link"><span class="nk-menu-text">Chats / Messenger</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/apps-calendar.html" class="nk-menu-link"><span class="nk-menu-text">Calendar</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/apps-kanban.html" class="nk-menu-link"><span class="nk-menu-text">Kanban Board</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li><!-- .nk-menu-item -->
        <li class="nk-menu-item has-sub">
          <a href="#" class="nk-menu-link nk-menu-toggle">
            <span class="nk-menu-icon"><em class="icon ni ni-file-docs"></em></span>
            <span class="nk-menu-text">Invoice</span>
          </a>
          <ul class="nk-menu-sub">
            <li class="nk-menu-item">
              <a href="html/invoice-list.html" class="nk-menu-link"><span class="nk-menu-text">Invoice List</span></a>
            </li>
            <li class="nk-menu-item">
              <a href="html/invoice-details.html" class="nk-menu-link"><span class="nk-menu-text">Invoice Details</span></a>
            </li>
          </ul><!-- .nk-menu-sub -->
        </li>

      </ul><!-- .nk-menu -->
    </div><!-- .nk-sidebar-menu -->
  </div><!-- .nk-sidebar-content -->
</div>
