<div class="nk-sidebar-element nk-sidebar-head">
  <div class="nk-sidebar-brand">
    <a href="html/index.html" class="logo-link nk-sidebar-logo">
      <img
        class="logo-light logo-img"
        src="./../../../assets/images/logo.png"
        srcSet="../../../assets/images/logo2x.png 2x"
        alt="logo"
      />
      <img
        class="logo-dark logo-img"
        src="../../../assets/images/logo-dark.png"
        srcSet="../../../assets/images/logo-dark2x.png 2x"
        alt="logo-dark"
      />
      <img
        class="logo-small logo-img logo-img-small"
        src="../../../assets/images/logo-small.png"
        srcSet="../../../assets/images/logo-small2x.png 2x"
        alt="logo-small"
      />
    </a>
  </div>
  <div class="nk-menu-trigger me-n2">
    <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu">
      <em class="icon ni ni-arrow-left"></em>
    </a>
  </div>
</div>

<div class="nk-sidebar-element">
  <div class="nk-sidebar-content">
    <div class="nk-sidebar-menu" data-simplebar>
      <ul class="nk-menu">
        <li class="nk-menu-heading">
          <h6 class="overline-title text-primary-alt">Applications</h6>
        </li>

        <li class="nk-menu-item has-sub" routerLinkActive="active">
          <a
            href="#data"
            class="nk-menu-link nk-menu-toggle"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="data"
          >
            <span class="nk-menu-icon">
              <em class="icon ni ni-setting-alt"></em>
            </span>
            <span class="nk-menu-text">Basic Data</span>
          </a>
          <div class="collapse show" id="data">
            <ul class="nk-menu-sub">
              <li class="nk-menu-item" routerLinkActive="active" >
                <a routerLink="/sectors" routerLinkActive="active" class="nk-menu-link">
                  <span class="nk-menu-text">Sectors</span>
                </a>
              </li>
              <li class="nk-menu-item" routerLinkActive="active" >
                <a routerLink="/stages"routerLinkActive="active"  class="nk-menu-link">
                  <span class="nk-menu-text">Stages</span>
                </a>
              </li>

            </ul>
          </div>
        </li>

        <li class="nk-menu-item has-sub" routerLinkActive="active">
          <a
            href="#applications"
            class="nk-menu-link nk-menu-toggle"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="applications"
          >
            <span class="nk-menu-icon">
              <em class="icon ni ni-grid-alt"></em>
            </span>
            <span class="nk-menu-text">Applications</span>
          </a>
          <div class="collapse" id="applications">
            <ul class="nk-menu-sub">
              <li class="nk-menu-item" routerLinkActive="active">
                <a routerLink="/app-chat" class="nk-menu-link" routerLinkActive="active">
                  <span class="nk-menu-text">Chats / Messenger</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a href="html/apps-calendar.html" class="nk-menu-link">
                  <span class="nk-menu-text">Calendar</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nk-menu-item has-sub" routerLinkActive="active">
          <a
            href="#startup"
            class="nk-menu-link nk-menu-toggle"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="startup"
          >
          <span class="nk-menu-icon">
            <em class="icon ni ni-layers"></em>
          </span>
            <span class="nk-menu-text">Startup</span>
          </a>
          <div class="collapse" id="startup">
            <ul class="nk-menu-sub">
              <li class="nk-menu-item" routerLinkActive="active">
                <a routerLink="/startup-overview" routerLinkActive="active" class="nk-menu-link">
                  <span class="nk-menu-text">Overview</span>
                </a>
              </li>
              <li class="nk-menu-item"  routerLinkActive="active">
                <a routerLink="/startup-project" class="nk-menu-link"  routerLinkActive="active">
                  <span class="nk-menu-text">Projects</span>
                </a>
              </li>
              <li class="nk-menu-item"  routerLinkActive="active">
                <a routerLink="/project-card" class="nk-menu-link"  routerLinkActive="active">
                  <span class="nk-menu-text">Projects Card</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nk-menu-item has-sub" routerLinkActive="active">
          <a
            href="#invertissor"
            class="nk-menu-link nk-menu-toggle"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="invertissor"
          >
    <span class="nk-menu-icon">
      <em class="icon ni ni-coin"></em>
    </span>
            <span class="nk-menu-text">Invertissor</span>
          </a>
          <div class="collapse" id="invertissor">
            <ul class="nk-menu-sub">
              <li class="nk-menu-item" routerLinkActive="active">
                <a routerLink="/invertissor-list" class="nk-menu-link" routerLinkActive="active">
                  <span class="nk-menu-text">Investor List</span>
                </a>
              </li>
              <li class="nk-menu-item">
                <a routerLink="/invertissor-details" class="nk-menu-link">
                  <span class="nk-menu-text">Investor Details</span>
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li class="nk-menu-item has-sub" routerLinkActive="active">
          <a
            href="#project"
            class="nk-menu-link nk-menu-toggle"
            data-bs-toggle="collapse"
            role="button"
            aria-expanded="false"
            aria-controls="project"
          >
          <span class="nk-menu-icon">
            <em class="icon ni ni-calendar"></em>
          </span>
            <span class="nk-menu-text">Events</span>
          </a>
          <div class="collapse" id="project">
            <ul class="nk-menu-sub">
              <li class="nk-menu-item" routerLinkActive="active">
                <a routerLink="/events" class="nk-menu-link">
                  <span class="nk-menu-text">Events</span>
                </a>
              </li>
            </ul>
          </div>
        </li>


      </ul>
    </div>
  </div>
</div>
