<div class="nk-body ui-rounder npc-general pg-auth">
<div class="nk-app-root">
  <!-- main @s -->
  <div class="nk-main ">
    <!-- wrap @s -->
    <div class="nk-wrap nk-wrap-nosidebar">
      <!-- content @s -->
      <div class="nk-content ">
        <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
          <div class="brand-logo pb-4 text-center">
            <a href="html/index.html" class="logo-link">
              <img class="logo-light logo-img logo-img-lg" src="../../../assets/images/logo.png" srcset="../../../assets/images/logo2x.png 2x" alt="logo">
              <img class="logo-dark logo-img logo-img-lg" src="../../../assets/images/logo-dark.png" srcset="../../../assets/images/logo-dark2x.png 2x" alt="logo-dark">
            </a>
          </div>
          <div *ngIf="successMessage" class="text-success">
            {{ successMessage }}
          </div>

          <div *ngIf="errorMessage" class="text-danger">
            {{ errorMessage }}
          </div>

          <div class="card">
            <div class="card-inner card-inner-lg">
              <div class="nk-block-head">
                <div class="nk-block-head-content">
                  <h5 class="nk-block-title">New password</h5>
                  <div class="nk-block-des">
                    <p>Create New Password, Then return to login with the new instructions.</p>
                  </div>
                </div>
              </div>
              <form [formGroup]="resetPassForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <div class="form-label-group">
                    <label class="form-label" for="newPassword">New Password</label>
                  </div>
                  <div class="form-control-wrap">
                    <input type="password" formControlName="newPassword"
                           class="form-control form-control-lg" id="newPassword" placeholder="Enter your new password">
                  </div>
                  <div *ngIf="resetPassForm.controls['newPassword'].invalid && resetPassForm.controls['newPassword'].touched">
                    <small class="error">Le mot de passe doit contenir au moins 6 caractères.</small>
                  </div>

                </div>
                <div class="form-group">
                  <button class="btn btn-lg btn-primary btn-block"  type="submit" [disabled]="resetPassForm.invalid"> Reset Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- wrap @e -->
    </div>
    <!-- content @e -->
  </div>
  <!-- main @e -->
</div>
</div>
