<link href="./../../../assets/landing/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/font-awsome/css/font-awesome.min.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/slick/slick.css" rel="stylesheet">
<link href="./../../../assets/landing/plugins/slick/slick-theme.css" rel="stylesheet">
<link href="./../../../assets/landing/css/style.css" rel="stylesheet">

<link href="./../../../assets/landing/images/favicon.png" rel="shortcut icon">

<body class="body-wrapper" style="background: none !important;">
<app-nav></app-nav>
<section class="news section">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-7">
        <div class="section_title text-center pb-10">
          <h4 class="sub_title">Explore Our Projects</h4>
          <h3 class="title">Discover How We Transform Ideas Into Successful Solutions</h3>
        </div>
      </div>
    </div>
    <div class="row mt-30 justify-content-center align-content-center">

      <div *ngFor="let project of projects | paginate: { itemsPerPage: 1, currentPage: p }" class="col-lg-7">
        <div class="block">
          <div class="blog-post">
            <div class="post-thumb">
              <img src="./../../../assets/landing/images/news/post-thumb-one.jpg" alt="Business meeting" class="img-fluid w-100">
            </div>
            <div class="post-content">
              <h1 class="mt-1 mb-2">{{project.title}}</h1>
              <p *ngIf="!showFullDescription[project.id!]" [innerHTML]="truncateText(project.description, 20)"></p>
              <p *ngIf="showFullDescription[project.id!]" [innerHTML]="project.description"></p>
              <a style="cursor:pointer; color:rgb(102, 45, 145);" (click)="toggleDescription(project.id)">
                {{ showFullDescription[project.id!] ? 'Show less' : 'Show more' }}
              </a>
              <div>
                  <a style="cursor : pointer; color:rgb(102, 45, 145);" (click)="toggleFeedbackEditor()">Add Feedback <em class="icon ni ni-chat-circle"></em>
                  </a>
              </div>
              <div *ngIf="showFeedbackEditor" class="m-3">
                <quill-editor [(ngModel)]="newFeedback" theme="snow"></quill-editor>
                <a style="cursor:pointer ; color:rgb(102, 45, 145); " class="d-flex float-end" >
                  <em class="icon ni ni-send-alt"></em>
                </a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="sidebar">
          <div class="widget search p-0">
            <div class="input-group">
              <input type="text" class="form-control main m-0" id="expire" placeholder="Search...">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
          </div>

          <div class="widget category mb-4">
            <h5 class="widget-title mb-3">Stages</h5>
            <ul class="list-unstyled">
              <li><a href="#"><em class="icon ni ni-arrow-long-right"></em>Web Design</a></li>
              <li><a href="#"><em class="icon ni ni-arrow-long-right"></em>Web Development</a></li>
              <li><a href="#"><em class="icon ni ni-arrow-long-right"></em>Web Development</a></li>
              <li><a href="#"><em class="icon ni ni-arrow-long-right"></em>Keyword Research</a></li>
              <li><a href="#"><em class="icon ni ni-arrow-long-right"></em>Email Marketing</a></li>
            </ul>
          </div>

          <div class="widget latest-post">
            <h5 class="widget-header">Recent Feedbacks</h5>
            <div class="media">
              <img src="./../../../assets/landing/images/news/post-thumb-sm-one.jpg" class="img-fluid" alt="post-thumb">
              <div class="media-body">
                <h6><a href="">Nam hendrerit eros in ligula suscipit suscipit</a></h6>
                <p href="#"><span class="fa fa-calendar"></span>02 Feb, 2017</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<pagination-controls
  class="myPagination"
  previousLabel=""
  nextLabel=""
  (pageChange)="p = $event"
>
</pagination-controls>

<app-footer></app-footer>
</body>

<style>
  body[_ngcontent-ng-c3489705984] {
    background: none !important;
  }
</style>



